.contato {
    background-color: #AB9365;
}

.formMapa {
    width: 90vw;
    margin: 0rem auto;
    padding: 4rem 0;
}

.formMapaConteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
}

form {
    width: 505px;
}

form label, form legend {
    display: block;
    margin: 0 0 20px 1rem;

    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
}

.inputPadrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 100%;
    border-radius: 20px;
    background-color: #FFF;
    border: 1px solid #FFF;
    outline: none;
}

.inputPadrao:hover {
    border: 1px solid #000;
}

.inputPadrao:focus {
    border: 1px solid #000;
}

.contatoPreferenciaOpcoes {
    display: flex;
}

.contatoPreferenciaOpcoes label {
    margin-right: 3rem;
    font-size: 1rem;
    color: #FFF;
    font-weight: 300;
    vertical-align: top;
}

.contato input[type='radio'] {
    display: table-cell;
    vertical-align: middle;
    margin-top: -2px;

    cursor: pointer;
}

select {
    width: 110%;
    padding: 10px 25px;

    font-family: 'Zilla Slab', serif;
    font-size: 1rem;

    border-radius: 20px;

    background-color: #FFF;
    border: 1px solid #FFF;
    outline: none;
}

select:hover {
    border: 1px solid #000;
}

select:focus {
    border: 1px solid #000;
}

.checkbox {
    margin: 20px 0;
    width: 20px;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    background: #000;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.enviar:hover {
    background: #FFF;
    color: #000;
    transition: 200ms;
}