.contato {
    background-color: #AB9365;
}

.formMapa {
    width: 90vw;
    margin: 0rem auto;
    padding: 4rem 0;
}

.formMapaConteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
}

form {
    width: 505px;
}

form label, form legend {
    display: block;
    margin: 0 0 20px 1rem;

    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
}

.inputPadrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 100%;
    border-radius: 20px;
    background-color: #FFF;
    border: 1px solid #FFF;
    outline: none;
}

.inputPadrao:hover {
    border: 1px solid #000;
}

.inputPadrao:focus {
    border: 1px solid #000;
}

.contatoPreferenciaOpcoes {
    display: flex;
    flex-wrap: wrap;
}

.contatoPreferenciaOpcoes label {
    margin-right: 3rem;
    font-size: 1rem;
    color: #FFF;
    font-weight: 300;
    vertical-align: top;
}

.contato input[type='radio'] {
    display: table-cell;
    vertical-align: middle;
    margin-top: -2px;

    cursor: pointer;
}

select {
    width: 110%;
    padding: 10px 25px;

    font-family: 'Zilla Slab', serif;
    font-size: 1rem;

    border-radius: 20px;

    background-color: #FFF;
    border: 1px solid #FFF;
    outline: none;
}

select:hover {
    border: 1px solid #000;
}

select:focus {
    border: 1px solid #000;
}

.checkbox {
    margin: 20px 0;
    width: 20px;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    background: #000;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.enviar:hover {
    background: #FFF;
    color: #000;
    transition: 200ms;
}

.mapa {
    width: 495px;
    height: 800px;
}

@media screen and (max-width: 280px) {

    .formMapa {
        padding: 1rem 0;
        margin: 0 auto;
    }

    .formMapaConteudo {
        padding: 1rem 0;
    }

    .inputPadrao {
        width: 80%;
    }

    .contatoPreferenciaOpcoes {
        flex-wrap: wrap;
    }

    select {
        width: 100%;
    }

    .checkbox {
        margin: 5px 0;
        width: 20px;
    }

    .checkboxField {
        margin-top: 1rem;
    }

    .enviar {
        width: 100%;
        margin: 1rem auto;
    }

    .mapa {
        width: 100vw;
        height: 50vh;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 281px) and (max-width: 480px) {
    .formMapa {
        padding: 1rem 0;
        margin: 0 auto;
    }

    .formMapaConteudo {
        padding: 1rem 0;
    }

    .inputPadrao {
        width: 85%;
    }

    .contatoPreferenciaOpcoes {
        flex-wrap: wrap;
    }

    select {
        width: 80%;
    }

    .checkbox {
        margin: 5px 0;
        width: 20px;
    }

    .checkboxField {
        margin-top: 1rem;
    }


    .enviar {
        width: 100%;
        margin: 1rem auto;
    }

    .mapa {
        width: 100vw;
        height: 50vh;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    
    .formMapa {
        padding: 1rem 0;
        margin: 0 auto;
        width: 90vw;
    }

    .formMapaConteudo {
        margin: 0 auto;
        padding: 1rem 0;
    }

    form {
        margin: 0 auto;
        width: 85vw;
    }

    .inputPadrao {
        width: 90%;
    }

    .contatoPreferenciaOpcoes {
        flex-wrap: wrap;
    }

    select {
        width: 80%;
    }

    .enviar {
        width: 100%;
        margin: 1rem auto;
    }

    .mapa {
        width: 100vw;
        height: 50vh;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
    form {
        width: 30vw;
    }

    .enviar {
        width: 110%;
        margin: 1rem auto;
    }

    .mapa {
        height: 850px;
    }

    .checkbox {
        margin: 5px 0;
        width: 20px;
    }

    .checkboxField {
        margin-top: 1rem;
    }

}