.localizacao {
    background-color: #000;
}

.localizacaoConteudo {
    width: 90vw;
    margin: 0rem auto;
    padding: 4rem 0;
}

.localizacaoTextoComBanner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
}

.textoLocalizacao {
    width: 470px;
    text-align: right;
}

.textoLocalizacao h2 {
    font-size: 3rem;
    color: #FFF;
    font-weight: 700;
}

.textoLocalizacao span {
    color: #AB9365;
}

.textoLocalizacao p {
    font-size: 1.1rem;
    color: #FFF;
    margin-top: 2rem;
    margin-left: 4rem;
}

.retanguloDecorativo {
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 1024px) {

    .localizacaoConteudo {
        width: 100vw;
        padding: 2rem 0;
    }

    .localizacaoTextoComBanner {
        padding: 0;
    }

    .localizacaoTextoComBanner img {
        width: 100vw;
    }

    .textoLocalizacao {
        width: 90vw;
        text-align: left;
        padding: 0 3rem;
        margin-bottom: 1rem;
    }

    .textoLocalizacao h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .textoLocalizacao p {
        margin-left: 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

    .localizacaoTextoComBanner img {
        width: 48%;
    }
}