.servicos {
    background-color: #FFF;
}

.servicosGrupo {
    width: 90vw;
    margin: 0rem auto;
    padding: 4rem 0;
}

.servicoDescricao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
}

.servicoDescricao li {
    width: 288px;
    text-align: center;
    height: 375px;  
}

.servicoDescricaoCabelo img {

    margin-top: -16.5rem;
    width: 95%;
    /* background-image: url('../assets/retServicosCabelo.png');
    background-size: cover;
    background-repeat: no-repeat; */
}

.servicoDescricaoBarba img {

    margin-top: -16.5rem;
    width: 95%;
    /* background-image: url('../assets/retServicosBarba.png');
    background-size: cover;
    background-repeat: no-repeat; */
}

.servicoDescricaoCabeloBarba img {
    margin-top: -19rem;
    width: 95%;
    /* background-image: url('../assets/retServicosCabeloBarba.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light; */
}

.servicoDescricao h2 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 700;
}

.servicoTexto {
    color: #000;
    font-size: 1.1rem;
    width: 180px;
    margin: 15rem auto 0 auto;
    text-align: center;
}

.servicoPreco {
    color: #AB9365;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.servicoDescricao .retanguloDecorativo {
    position: absolute;
    left: 50%;
    top: 240%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 280px) {

    .servicosGrupo {
        padding: 1rem 0;
    }

    .servicoDescricao {
        padding: 0;
        margin: 0 auto;
    }

    .servicoDescricao li {
        margin: 1rem auto;
        width: 80vw;
        height: auto;
    }

    .servicoDescricaoCabelo img {
        margin-top: -13rem;
        width: 90%;
    }

    .servicoDescricaoBarba img {
        margin-top: -13rem;
        width: 90%;
    }

    .servicoDescricaoCabeloBarba .servicoTexto {
        margin: 12rem auto 0 auto;
    }

    .servicoDescricaoCabeloBarba .servicoPreco {
        margin-top: 0.5rem;
    }

    .servicoDescricaoCabeloBarba img {
        margin-top: -15.5rem;
        width: 90%;
    }

    .servicoTexto {
        margin: 9rem auto 0 auto;
    }

    
}

@media screen and (min-width: 281px) and (max-width: 375px) {

    .servicosGrupo {
        padding: 1rem 0;
    }

    .servicoDescricao {
        padding: 0 1rem;
        margin: 0 auto;
    }

    .servicoDescricaoCabelo img {
        margin-top: -18rem;
        width: 100%;
    }

    .servicoDescricaoBarba img {
        margin-top: -18rem;
        width: 100%;
    }

    .servicoDescricaoCabeloBarba .servicoTexto {
        margin: 18rem auto 0 auto;
    }

    .servicoDescricaoCabeloBarba .servicoPreco {
        margin-top: 0.5rem;
    }

    .servicoDescricaoCabeloBarba img {
        margin-top: -21rem;
        width: 100%;
    }

    .servicoDescricao li {
        margin: 2rem auto;
        width: 80vw;
        height: auto;
    }

    .servicoTexto {
        transform: scale(1.1);
    }

    .servicoPreco {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 376px) and (max-width: 480px) {

    .servicosGrupo {
        padding: 1rem 0;
    }

    .servicoDescricao {
        padding: 0 1rem;
        margin: 0 auto;
    }

    .servicoDescricaoCabelo img {
        margin-top: -18rem;
    }

    .servicoDescricaoBarba img {
        margin-top: -18rem;
    }

    .servicoDescricaoCabeloBarba .servicoTexto {
        margin: 18rem auto 0 auto;
    }

    .servicoDescricaoCabeloBarba .servicoPreco {
        margin-top: 0.5rem;
    }

    .servicoDescricaoCabeloBarba img {
        margin-top: -21rem;
    }

    .servicoDescricao li {
        margin: 2rem auto;
        width: 80vw;
        height: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

    .servicosGrupo {
        padding: 1rem 0;
    }

    .servicoDescricao {
        padding: 0 1rem;
        margin: 0 auto;
    }

    .servicoDescricao li {
        margin: 2rem auto;
        width: 50vw;
        height: auto;
    }

    .servicoDescricaoCabelo img {
        margin-top: -18rem;
        width: 80%;
    }

    .servicoDescricaoBarba img {
        margin-top: -18rem;
        width: 80%;
    }

    .servicoDescricaoCabeloBarba .servicoTexto {
        margin: 18rem auto 0 auto;
    }

    .servicoDescricaoCabeloBarba .servicoPreco {
        margin-top: 0.5rem;
    }

    .servicoDescricaoCabeloBarba img {
        margin-top: -20.5rem;
        width: 80%;
    }
}